
	$heading-color: #00a777;
	$stroke-color: #00a777;
	$stroke-color: #00a777;
	$stroke: #ddd;
	$button-color: #e97300;
	$button-text: white;
	$box-content: #ebf7f5;
	$overlay: #006642;
	$link-color: #759b24;
	$text-color: #ffffff;
	$font-family: Arial, Helvetica, sans-serif;

body {
	font-family: $font-family;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	line-height: 32px;
}

button{
	cursor: pointer;
}


.social-media img{
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	#navLogo {
		text-align: center;
		img {
			height: 24px;
			width: 100%;
			padding: 20px;
			margin: 0;
		}
	}
	#hero {
		width: 100%;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	#headings {
		text-align: center;
		padding: 20px 10px;
		margin: 0 auto;
		hr {
			width: 18%;
			border: 0;
			height: 2px;
			background: $stroke-color;
			margin-bottom: 0;
		}
		h1 {
			color: 	$heading-color;
			font-size: 24px;
			font-weight: 500;
		}
	}
	p {
		text-align: left;
	}
	#citizensadvantage {
		h2 {
			color: 	$heading-color;	
			font-size: 22px;
			margin-bottom: 0;
			font-weight: 400;
		}
		a {
			color: 	$link-color;	
			text-decoration: none;
		}
		p{
			margin-top: 0;
		}
	}
	.advantages {
		margin: 15px;
		margin-top: 5px;
	}
	
	.desktop-advantages {
		grid-template-columns: 1fr; 
		grid-template-rows: auto; 
	  }
	
	  #citizensadvantage {
		padding: 15px 0;
	  }
	
	  #citizensadvantage:not(:last-child) {
		border-bottom: 2px solid $stroke;
	  }
	
	
	#careers-btn {
		text-align: center;
	}
	.careers-btn {
		padding: 7px 15px;
		font-size: 1.2em;
		background-color: $button-color;
		color: $text-color;
		border: none;
	}
	#boxModel {
		margin: 15px;
		background-color: $box-content;
		h2 {
			background-color: $stroke-color;
			text-align: center;
			padding: 7px 15px;
			color: $text-color;
			font-weight: 500;
		}
		p {
			padding: 5px;
		}
	}
	#testimonial-container {
		margin: 15px;
		padding: 5px;
	}
	.testimonial {
		text-align: center;
		position: relative;
		p {
			text-align: center;
		}
		img {
			width: 200px;
			height: 200px;
			object-fit: cover;
			border-radius: 50%;
		}
		.quote {
			position: relative;
			font-size: 1.2em;
			padding-left: 40px;
			width: 75%;
			text-align: center;
			z-index: 1;
			&::before {
				content: "\201C";
				position: absolute;
				left: 20px;
				top: 100px;
				font-size: 15em;
				color: #ccc;
				z-index: -1;
				opacity: 25%;
			}
		}
	}
	.title {
		color: $heading-color;
		line-height: 20px;
	}
	hr {
		border: 0;
		height: 2px;
		background: $stroke-color;
	}
	footer {
		margin: 15px;
		padding: 5px;
		line-height: 16px;
	}
	.social-media {
		img {
			width: 32px;
			height: 32px;
			margin-right: 5px;
		}
	}
	#footer {
		p {
			font-size: 12px;
			span {
				text-decoration: underline;
			}
			&:nth-child(2) {
				color: #989898;
			}
		}
	}
  }

@media screen and (min-width: 769px) and (max-width:3840px) {
	body {
		padding: 0px;
		margin: 0px;
		box-sizing: border-box;
		line-height: 24px;
	}
	#navLogo {
		text-align: center;
		text-align: left;
		img {
			height: 24px;
			width: 100%;
			padding: 20px;
			margin: 0;
			width: auto;
			height: 20px;
		}
	}
	#hero {
		width: 100%;
		overflow: hidden;
		width: 100%;
		height: auto;
		width: 100%;
		overflow: hidden;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			width: 1440px;
			height: 768px;
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 768px;
			object-fit: cover;
			object-position: center;
		}
	}
	.rectangle-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 768px;
		background-color: $overlay;
		opacity: 95%;
		clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 40% 100%);
	}
	#headings {
		text-align: center;
		padding: 20px 10px;
		margin: 0 auto;
		hr {
			width: 5%;
			border: 0;
			height: 2px;
			background: $stroke-color;
		}
		h1 {
			color: $heading-color;
			font-size: 2em;
		}
	}
	p {
		text-align: left;
	}
	.main-contents {
		margin: 20px;
	}
	#citizensadvantage {
		h2 {
			color: $heading-color;
			margin-bottom: 0;
		}
		a {
			color: $link-color;
			text-decoration: none;
		}
		.link {
			color: $link-color;
			text-decoration: none;
		}
	}
	.advantages {
		margin: 15px;
		margin-top: 5px;
	}

	.desktop-advantages {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		gap: 20px;
		>div {
			display: flex;
			flex-direction: column;
		}

		#citizensadvantage:nth-child(odd) {
			border: none;
			border-right: 2px solid $stroke;
			padding-right: 20px; 
		  }

		  #citizensadvantage:nth-child(even) {
			padding-left: 20px;
			border: none;
		  }
	}

	#careers-btn {
		text-align: center;
	}
	.careers-btn {
		padding: 7px 15px;
		font-size: 1.2em;
		background-color: $button-color;
		color: $text-color;
		border: none;
	}
	#boxModel {
		margin: 15px;
		margin-top: 0;
		background-color: $box-content;
		h2 {
			background-color: $heading-color;
			text-align: center;
			padding: 7px 15px;
			color: $text-color;
		}
		p {
			padding: 45px;
			padding-top: 0;
			margin-left: 20px;
			margin-right: 20px;
			margin-bottom: 0;
		}
	}
	#testimonial-container {
		margin: 15px;
		padding: 5px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.testimonial {
		&:nth-child(odd) {
			text-align: center;
			width: 20%;
		}
		&:nth-child(even) {
			text-align: center;
			width: 35%;
		}
		p {
			text-align: center;
		}
		img {
			width: 200px;
			height: 200px;
			object-fit: cover;
			border-radius: 50%;
		}
		position: relative;
		margin: 20px;
		.quote {
			position: relative;
			font-size: 1.2em;
			padding-left: 40px;
			z-index: 1;
			&::before {
				content: "\201C";
				position: absolute;
				left: 20px;
				top: 100px;
				font-size: 15em;
				color: #ccc;
				z-index: -1;
				opacity: 25%;
			}
		}
	}
	.title {
		color: $heading-color;
		line-height: 20px;
	}
	hr {
		border: 0;
		height: 2px;
		background: $stroke-color;
	}
	footer {
		margin: 30px;
		padding: 5px;
		line-height: 16px;
	}
	.social-media {
		img {
			width: 32px;
			height: 32px;
			margin-right: 5px;
		}
	}
	#footer {
		p {
			font-size: 12px;
			margin-bottom: 25px;
			span {
				text-decoration: underline;
			}
			&:nth-child(2) {
				color: #989898;
			}
		}
	}
}
